*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color : #244F76;
    --altr-color: #52859E;
    --third-color: #9AD0C2;
    --forth-color: #EBF2D5;
    --main-transition : 0.3s;
    --main-section-back: #ececec;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* header styling */
header{
    padding: 35px 20px;
    background: none;
    position: fixed;
    top: 0;
    width: 100%;
    transition: height 0.3s ease;
    height: 100px; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
header.shrink{
    height: 50px;
    background-color: var(--main-color);
}
header.shrink.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header.shrink .wrapper .logo h1{
    color: var(--forth-color);
}
header.shrink .wrapper .list ul li a{
    color: var(--forth-color);
}
header.shrink .wrapper .list ul li span{
    color: var(--forth-color);
}
header.shrink .wrapper  .list ul .nested_list i::before{
    color: var(--forth-color);
}
header.shrink .wrapper .last button{
    background-color: var(--forth-color);
    color: var(--main-color);
}
header.shrink .wrapper .last button:hover{
    background-color: var(--main-color);
    color: var(--forth-color);
    border: 1px solid var(--forth-color);

}
header.shrink .wrapper .last i::before{
    color: var(--forth-color);
}

header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 90px;
}
.wrapper .logo{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.wrapper .logo i{
  width: 30px;
  height: 30px;

}
.wrapper .logo i::before{
    content: "\f2e7";
    font-size: 40px;
    color: var(--third-color);
}
.wrapper .logo h1{
    color: var(--main-color);
    font-family: cursive;
    font-size: 25px;
}
.wrapper .list{
    display: flex;
}

.wrapper .list ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}
.wrapper .list ul li a,span{
    font-size: 15px;
    color: var(--main-color);
    cursor: pointer;
}
.wrapper .list ul .nested_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.wrapper .list ul .nested_list:hover i{
    transform: rotate(180deg);
}
.wrapper .list ul .nested_list i{
    transition: 0.3s;
}
.wrapper .list ul .nested_list i::before{
    cursor: pointer;
    color: var(--main-color);
    font-size: 10px;
}
.wrapper .list ul .nested_list:hover .disappear{
    opacity: 1;
    z-index: 100;
    top:80px ;
}
.wrapper .list .second_list{
    /* display: none; */
    position: absolute;
    top: 0px;
    right: -40px;
    width: 130px;
    height: fit-content;
    

    border-radius:10px ;
    transition: 0.3s;
}

.wrapper .list .second_list .disappear{
   display: block;
   background-color: var(--main-section-back);
   border-radius: 10px;
   z-index: -1;
   opacity: 0;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   top: -100px;
   transition: 0.3s;
}

.wrapper .list .second_list .disappear li{
    color: var(--main-color);
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
}
.wrapper .list .second_list .disappear li:hover{
    background-color: var(--forth-color);
    border-radius: 10px;
}
.wrapper .last{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.wrapper .last button{
    height: 40px;
    width: 80px;
    color: var(--forth-color);
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.6s;
}
.wrapper .last button:hover{
    background-color: var(--forth-color);
    color:var(--main-color) ;
    transition: 0.6s ;
    border: 1px solid var(--main-color);
}
.wrapper .last .flags{
    display: flex;
    gap: 2vh;
    cursor: pointer;
    transition: 0.3s;
}
.wrapper .last .flags ul{
    list-style-type: none;
    position : relative;
    transition: 0.3s;
}
.wrapper .last .flags ul li{
    transition: 0.3s;
}
.wrapper .last .flags ul li .uk{
    display: none;
    position: absolute;
    left: 0;
    top: -100px;
    transition: 0.3s;
}
.wrapper .last .flags ul li img.dropdown{
    top: 30px;
}
.wrapper .last .flags img{
    width: 30px;
    height: 20px;
    transition: 0.3s;
}
.wrapper .last i{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.wrapper .last i::before{
    font-size: 12px;
    color: var(--main-color);

}
.wrapper .last i.rotate {
    transform: rotate(180deg);
}
/* header styling End */